<div class="contant vw-100 vh-100 bg-dark">
    <div class="container py-2">
        <div class="d-flex mb-3">
            <button class="btn btn-sm btn-primary shadow-sm me-auto" (click)="requestAccount()"
                [disabled]="connectedAccountAddress">Connect
                Metamask</button>
            <div class="me-2 text-light">Connected account:</div>
            <div class="text-light">{{connectedAccountAddress}}</div>
        </div>
        <div class="input-group mb-3">
            <input #task type="text" class="form-control shadow-sm" placeholder="Task" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn btn-secondary shadow-sm" type="button" id="button-addon2"
                (click)="addTask(task.value)">Save
                Task</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item d-flex" *ngFor="let allTask of allTasks; let i = index">
                <input class="form-check-input shadow-sm me-3" type="checkbox" (change)="onCheckboxChange($event, i)"
                    [checked]="allTask.isDone">
                <label class="form-check-label me-auto"
                    [ngClass]="allTask.isDone?'text-decoration-line-through':''">{{allTask.task}}</label>
                <button class="btn btn-sm btn-danger" (click)="deleteTask(i)">Delete</button>
            </li>
        </ul>

    </div>
</div>